@import "tailwindcss";

@font-face {
  font-family: 'Oktah';
  src: url('/font/Fontspring-DEMO-oktah_light-BF651105f835de8.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Oktah';
  src: url('/font/Fontspring-DEMO-oktah_regular-BF651105f8625b4.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oktah';
  src: url('/font/Fontspring-DEMO-oktah_medium-BF651105f85a9f6.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oktah';
  src: url('/font/Fontspring-DEMO-oktah_semibold-BF651105f84ed31.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Oktah';
  src: url('/font/Fontspring-DEMO-oktah_bold-BF651105f81bb94.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Oktah', sans-serif;
  color: #111;
}